<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unknown URL Check Analysis</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .btn-uight {
            margin-left: 690px; 
        }
        .btn-tight {
            margin-left: 15px; 
        }
    </style> 
</head>
<body>
    <div class="container">
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='icon.png') }}" alt="Logo" style="max-width: 100px; height: 50px;" class="my-3">
            </a>
            <a href="{{ url_for('index') }}" class="my-0 mr-md-auto font-weight-normal">
                <h5>PhishProof</h5>
            </a>
            <a href="{{ url_for('stats') }}" class="btn btn-info btn-uight">Stats</a>
            <a href="{{ url_for('api_instructions') }}" class="btn btn-info btn-tight">API</a>
            <a href="{{ url_for('index') }}" class="btn btn-info ml-auto">Home</a>
        </div>
    </div>
    <div class="container">
        <h1>URL Analysis Result</h1>
        <p>The URL you submitted for analysis is: <strong>{{ url }}</strong></p>
        {% if is_safe is none %}
            <div class="alert alert-info" role="alert">
                {{ msg }}
            </div>
        {% elif is_safe %}
            <div class="alert alert-success" role="alert">
                This URL is considered safe.
            </div>
        {% else %}
            <div class="alert alert-danger" role="alert">
                This URL is considered unsafe.
                {% if detection_count %}
                    <p>Detection Points: <strong>{{ detection_count }}</strong></p>
                {% endif %}
            </div>
        {% endif %}
        <a href="{{ url_for('index') }}" class="btn btn-primary">Go Back</a>
    </div>
</body>
</html>
